{% extends 'admin/activity_base.html' %}
{% load staticfiles %}

{% block title %}
    <a href="{% url 'admin:new' %}" class="pull-right btn btn-primary btn-sm">New Article</a>
    <h1>Article List</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>#</th>
            <th>Chapter</th>
            <th>Title</th>
            <th>visibility</th>
            <th>Published Page</th>
            <th>Action</th>
        </tr>
        {% if article_list %}
            {% for article in article_list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.chapter }}</td>
                    <td>{{ article.title }}</td>
                    <td id="is_visible_{{ article.id }}">{{ article.is_visible }}</td>
                    <td><a href="{% url 'user:article_view' article_id=article.id %}" class="btn btn-default btn-sm">Show</a></td>
                    <td>
                        <a href="{% url 'admin:detail' article_id=article.id %}" class="btn btn-primary btn-sm">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                        <button id="change_visible_btn_{{ article.id }}" class="btn btn-default btn-sm">
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        </button>
                        <a href="{% url 'admin:modify' article_id=article.id %}" class="btn btn-warning btn-sm">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'admin:delete' article_id=article.id %}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No item.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}

{% block addition_js %}
    <script>
        {% for article in article_list %}
            $('#change_visible_btn_{{ article.id }}').click(function() {
                $.ajax({
                    type: "GET",
                    url: "{% url 'admin:visible_change' article_id=article.id %}",
                    success:function(args){
                        $("#is_visible_{{ article.id }}").text(args)
                    },
                    error:function(e){
                        alert("Fail to change visibility:\n"+e.responseText);
                    }
                });
            });
        {% endfor %}
    </script>
{% endblock %}