{% extends 'admin/login-join-base.html' %}

{% block sub_title %}
    Join
{% endblock %}

{% block form_box %}
    <form action="{% url 'admin:join' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="sr-only">username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="username" />
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="password" />
        </div>
        <div class="form-group">
            <label for="password_confirm" class="sr-only">password confirm</label>
            <input type="password" name="password_confirm" id="password_confirm" class="form-control" placeholder="password confirm" />
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-block">Join</button>
            or <a href="{% url 'admin:login' %}">Login</a>
        </div>
    </form>
{% endblock %}