{% extends 'admin/activity_base.html' %}
{% load staticfiles %}

{% block title %}
    <h1>User List</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <th>#</th>
            <th>username</th>
            <th>is valid</th>
            <th>is admin</th>
            <th>Action</th>
        </tr>
        {% if user_list %}
            {% for user in user_list %}
                <tr id="row_{{ user.id }}">
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td id="is_valid_{{ user.id }}">{{ user.is_valid }}</td>
                    <td id="is_admin_{{ user.id }}">{{ user.is_admin }}</td>
                    <td>
                        <button id="change_valid_{{ user.id }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button id="delete_{{ user.id }}" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No item.</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}

{% block addition_js %}
    <script>
        function getCookie(c_name)
        {
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }
        {% for user in user_list %}
            $('#change_valid_{{ user.id }}').click(function() {
                $.ajax({
                    type: "PUT",
                    url: "{% url 'admin:user_change_valid' user_id=user.id %}",
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                    success:function(args){
                        $("#is_valid_{{ user.id }}").text(args)
                    },
                    error:function(e){
                        alert("Fail to change validity:\n"+e.responseText);
                        console.log(e.responseText);
                    }
                });
            });
            $('#delete_{{ user.id }}').click(function() {
                $.ajax({
                    type: "DELETE",
                    url: "{% url 'admin:user_delete' user_id=user.id %}",
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                    success:function(args){
                        $("#row_{{ user.id }}").remove();
                    },
                    error:function(e){
                        alert("Fail to delete user:\n"+e.responseText);
                        console.log(e.responseText);
                    }
                });
            });
        {% endfor %}
    </script>
{% endblock %}